.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

/* Left side */
.login-left {
  flex: 1;
  padding: 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1f2937;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  /* filter: invert(1); */
}

.subtext {
  color: #6b7280;
  margin-bottom: 1rem;
}

.social-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.social-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1rem;
  border: none;
  color: white;
  cursor: pointer;
}
.divider {
  margin: 1rem 0;
  font-weight: bold;
  color: #d1d5db;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.login-form input {
  padding: 0.75rem 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .eye {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9ca3af;
}

.sign-in-btn {
  background-color: #d6c6a8;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.sign-in-btn:hover {
  background-color: #c6af85;
}

/* Right side */
.login-right {
  flex: 1;
  background: linear-gradient(to bottom right, #121212);
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-right h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-right p {
  font-size: 1rem;
  margin-bottom: 2rem;
  max-width: 300px;
}

.sign-up-btn {
  background-color: #d4792f;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sign-up-btn:hover {
  background-color: #f18b35;
}
